


body {
    background-image: url("../images/rain.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
}

#header{
    text-align: center;
    margin-top: 20px;
    font-size: 440%;
    /* font-family: 'BenchNine', sans-serif; */
    /* font-family: 'Shrikhand', cursive; *
    /* font-family: ‘Lobster’, cursive;/ */
    font-family: ‘Lobster’, cursive;
    /* color: white; */
    /* text-shadow: -1px 0 blue, 0 1px blue, 1px 0 blue, 0 -1px blue; */
    color: yellowgreen;
}

#description {
    margin: auto;
    font-family: 'Shrikhand', cursive;
    /* text-shadow: -1px 0 blue, 0 1px blue, 1px 0 blue, 0 -1px blue; */
    color: yellowgreen;
    width: 50%;
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
}
#navbar {
    opacity: .9;
    height: 60px;
    border-bottom: 2px blue;
    background-color: gray;
    
}

#navbar-font {
    font-family: 'Lobster', cursive;
    /* text-shadow: -1px 0 blue, 0 1px blue, 1px 0 blue, 0 -1px blue; */
    color: yellowgreen;
    font-size: 50px;
    
}

#suggestions-area {
    margin: auto;
    opacity: .9;
    margin:10px;  
    width: 48%;
    border-radius: 5px;
    border:grey solid 5px;
    float: left;
    font-family: 'Laila', serif;
    

    

}

#firebase-data {
    font-family: 'Laila', serif;
}

#sug-header {
    font-size: 17px;
}

#formGroupExampleInput2 {
    height: 150px;
}

#sug-button {
    background-color: yellowgreen;
    color:blue;
    border: gray 1px solid;

}

#suggestions {
    margin: auto;
    opacity: .9;
    margin:10px;  
    width: 48%;
    border-radius: 0;
    border:blue;
    float: left;
    white-space: nowrap;
    overflow: auto;
    height:420px;
    border: gray 5px solid;
    border-radius: 5px;
   
}

#firebase-data {
    text-align: center;
    padding: 14px;
    font-size: 12px;
}
.card-header {
    font-family: 'Lobster', cursive;
    /* text-shadow: -1px 0 blue, 0 1px blue, 1px 0 blue, 0 -1px blue; */
    color: yellowgreen;
    font-size: 20px;
    height: 40px;
    padding: 0 10px;
    background-color: gray;
    border:grey solid 2px;
    border-radius: 5px;
    font-size: 23px;
}

#placesArea {
    opacity: .9;
    width: 25%;
    margin: 10px;
    height:600px;
    color:black ;
    overflow: auto;
    display: inline-block;
    float: left;
    border-radius: 5px;
    border:grey solid 5px;
}

#map {
    width: 45%;
    float: left;  
    margin: 10px 15px;
    height: 600px;
    overflow: auto;
    border-radius: 5px;
    border:grey solid 5px;

}

#diningArea {
    opacity: .9;
    width: 25%;
    margin: 10px;
    height:600px;
    color:black ;
    overflow: auto;
    display: inline-block;
    /* float: left; */
    border-radius: 5px;
    border:gray solid 5px;
}
.card-header:first-child {
    border-radius: 0;
}

#pac-input {
    position: relative;
    right: 880px;
    float: left;
    width: 300px;
    border-radius: 10px;
    background-color: rgb(46, 22, 22);
    color: yellow;
    border: yellow 2px solid;
}

#form{
    border-style: solid;
    padding: 2%;
    background-color: rgb(0,0,0,0.2);
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 8px;
    margin-top: 30px;
    /* opacity:0.5 ; */
    border-width: 1px;
    font-size: 295%;
    /* color: azure; */
    border-color: grey 5px solid;
    /* font-family: 'BenchNine', sans-serif; */
    font-family: 'Shrikhand', cursive;
    text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;
    color: yellow;
    font-family: 'Laila', serif;

}
#submit {
    background-color: yellow;
    color: red;
    border: yellow 1px solid;
    border-width: 6px;

}

#theaters {
    color: black;
    font-family: 'Laila', serif;
    font-size: 18px;
}

#place {
    font-weight: bolder;
    font-family: 'Laila', serif;
    font-size: 18px;

}

#typeOfPlace {
    font-style: italic;
    font-size: 14px;
    font-family: 'Laila', serif;
}

#addressofPlace {
    font-size: 15px;
    font-family: 'Laila', serif;
}

